body{
	background: url(https://james-sangalli.github.io/blog/6771527-awesome-3d-backgrounds.jpg);
	font-family: arial;
}

*{
font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	background-color: black;
}

li a {
	display: block;
	outline-color: white;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

div{
	border: 10px;
	border-spacing: 10px;
}
img {
	border: 15px;
	border-spacing: 10px;
}

h1,h2{
	color: white;
}

h4{
	color: yellow;
	font: bold;
}

a{
	color: white;
}

a:hover, a:active {
	text-decoration: none;
	color: yellow;
}

p{
	color: white;
}

footer{
	background: #999
}
