body{
	background: url(https://james-sangalli.github.io/blog/6771527-awesome-3d-backgrounds.jpg);
	font-family: arial;

}

h1,h2{
	color: white;
}

a{
	color: white;
}
p{
	color: white;
}

footer{
	background: #999
}
